@inject NavigationManager navi

<nav>
        <a class="nav-link @(activeIndex == 1 ? "activated" : "")" href="" onclick="@(() => SetActiveIndex(1))">
                Home
        </a>
        <a class="nav-link @(activeIndex == 2 ? "activated" : "")" href="" onclick="@(() => SetActiveIndex(2))">
                Cinema
        </a>
        <a class="nav-link @(activeIndex == 3 ? "activated" : "")" href="" onclick="@(() => SetActiveIndex(3))">
                Playground
        </a>
</nav>

@code{
    int activeIndex = 1;

    private void SetActiveIndex(int i)
    {
        activeIndex = i;
    }
}
